*{

    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    box-sizing: border-box;
    padding: 0%;
}
html{
   height: 100%;
}
body{
   min-height: 100%; /* 
   background-image: url(/imagenes/fondo.jpg);
   background-size:100%;
   background-repeat: no-repeat;
   background-attachment: fixed;*/
}
.grid-container {
   display: grid;
   gap: 0.3px;
   grid-template-areas: 
   "logo"
   "header"
   "menu"
   "main"
   "footer";
}
.grid-container > *{
   padding: 10px;
   text-align: center;
}
.header{
   grid-area: header;
   background-color: yellow;
}
.logo{
   grid-area: logo;
   background-color: yellow;
}
.logo img{
   width: 50px;
   height:60px;
}
.menu{
   grid-area: menu;
   background-color: aqua;
}
.main{
   grid-area: main;
   background-color: aquamarine;
   
}
.footer{
   grid-area: footer;
   background-color: brown;
}
@media (min-width:600px){
   .grid-container{
    grid-template: 
    "logo header" 100px
    "menu menu" 50px
    "main main" auto
    "footer footer"100px/
    40px

   }
}